.sidebar{
    /* background-image: linear-gradient(40deg, #19d3ae,#0fcfec); */
    background-color: #b0ced1;
    position: fixed;
}
.sidebar h5:hover span{
    display: inline-block;
    transform: translate(10px);
    transition: 0.4s;
}
